# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Node
node_modules/
npm-debug.log
yarn-error.log

# Git
.git/

# Logs
*.log

# IDEs
.vscode/
.idea/
.DS_Store

# Others
*.csv
*.mp4
*.zip
tmp/
