.tag {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background: var(--bg-card);
  color: var(--color-primary);
  padding: 4px 10px;
  font-size: 0.85rem;
  font-weight: 500;
  border: .1px solid var(--border);
  height: 28px;
}

.remove {
  background: none;
  border: none;
  color: var(--color-primary);
  font-size: 1.5rem;
  line-height: 1;
  padding: 0 0 0 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.remove:hover {
  color: var(--color-primary-hover);
}
