.header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 1rem;
  color: var(--text-base);
}

.themeSwitcherWrap {
  margin-left: auto;
  flex-shrink: 0;
}

.logoWrap {
  display: flex;
  align-items: center;
}

.logo {
  width: 350px;
  height: 70px;
  object-fit:cover;
}

