.header {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 2rem;
}

.themeSwitcherWrap {
  margin-left: auto;
  flex-shrink: 0;
}

.logoWrap {
  display: flex;
  align-items: center;
}

.logo {
  width: 350px;
  height: 100px;
  object-fit:fill;
  margin-left: 45px;
}

